/* =Base */
body {
  font-family: 'Montserrat', sans-serif;
  color: $iron;
  background-color: $white;
  font-weight: 400;
}

a {
  color: $cloudy;
  font-weight: bold;
  text-decoration: underline;

  &:hover {}
}

p {
  font-size: 16px;
  line-height: 26px;
}

.content img {
  margin: 40px auto;
  display: block;
  max-width: 100%;
}

blockquote {
  letter-spacing: 3px;
  margin: 40px 0 70px;
  padding: 0;
  text-align: center;
  position: relative;

  footer {
    position: absolute;
    bottom: -35px;
    font-size: 15px;
    color: $iron;
    letter-spacing: 0;
    left: 0;
    right: 0;

    &:before {
      content: "** ";
    }

    &:after {
      content: " **";
    }
  }

  p {
    display: inline;
    font-size: 20px;
    color: $cloudy;
    font-weight: 400;

    &:before {
      content: "“ ";
    }

    &:after {
      content: " ”";
    }
  }
}

strong {
  color: $iron;
}
/* =Header */
.wrapper {
  max-width: 800px;
  margin: 40px auto;
}

.header {
  overflow: hidden;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 20px;
}

.navigation {
  float: left;
}

.logo {
  display: block;
  width: 100%; height: 52px;

  font-size: 40px;
  font-weight: 700;
  color: $iron;
  text-decoration: none;

  img {
    display: block;
    height: 38px;
    margin: 0 auto;
  }
}

.menu {
  color: $cloudy;
  font-size: 18px;
  margin: 6px 0 0;
  padding: 0;
  list-style-type: none;
}

.menu__entry {
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }
}

.menu__entry a {
  font-weight: 400;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.social-links {
  float: right;
  font-size: 24px;
  color: $cloudy;
  list-style-type: none;
  margin: 46px 0 0 0;
}

.social-links__entry {
  display: inline-block;
  margin-left: 10px;
}
/* =Titles */
.page-title {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.page-title__text {
  font-weight: 700;
  font-size: 30px;
}

.page-title__subtitle {
  font-weight: 400;
  font-size: 22px;
  color: $cloudy;
}

.post-title {
  margin-bottom: 40px;
}

.post-title__text {
  font-size: 40px;
}

.post-title__subtitle {
  font-size: 20px;
}
/* =Post teasers */
.list-posts {
  list-style-type: none;
  padding: 0;
}

.post-teaser {
  margin-bottom: 45px;
  font-weight: 700;
}

.post-teaser__title {
  font-size: 22px;
  color: $iron;
}

.post-teaser__date {
  font-size: 16px;
  float: right;
  vertical-align: middle;
  color: $cloudy;
}

.empty-post-list {
  font-size: 22px;
  font-weight: 700;
  color: $iron;
  text-align: center;
}
/* =Explore */
.explore {
  text-align: center;
  color: $cloudy;
  margin-top: 140px;
}

.explore__devider {
  font-size: 26px;
  letter-spacing: 8.18px;
  font-weight: 500;
  color: $violet;
}

.explore__label {
  font-size: 14px;
  margin-top: 15px;
}

.categories {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
}

.categories__item {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
}

.categories__item a {
  color: $iron;
}

.categories__item:after {
  content: "/";
  margin-left: 6px;
  color: $cloudy;
}

.categories__item:last-child:after {
  content: "";
  margin-left: 0;
}
/* =Post page */
.about {
  color: $cloudy;
  margin-top: 70px;
  text-align: center;
  line-height: 24px;
}

.about__devider {
  font-size: 26px;
  margin-bottom: 50px;
  letter-spacing: 9.09px;
  font-weight: 500;
  color: $violet;
}

.about__text {
  font-size: 18px;
}

#disqus_thread {
  margin-top: 100px;
}

//
// Tablet?
//
@media (max-width: 800px) {
  /* =Base */
  p {
    font-size: 16px;
    line-height: 1.6;
  }

  .wrapper {
    width: 80%;
  }

  .navigation,
  .social-links {
    @include centered-block();
  }

  .social-links {
    font-size: 30px;
    margin-top: 35px;
  }

  .page-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .page-title__text {
    font-size: 30px;
  }

  .page-title__subtitle {
    font-size: 18px;
  }

  .post-teaser__title {
    font-size: 18px;
    @include centered-block();
  }

  .post-teaser__date {
    font-size: 16px;
    margin-top: 10px;
    float: none;
    @include centered-block();
  }

  .explore {
    margin-top: 80px;
  }

  .post-title__text {
    font-size: 28px;
  }

  .post-title__subtitle {
    font-size: 18px;
  }
}
