<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<title>{% if page.title %} {{ page.title }} — {{ page.subtitle }} &raquo; {% endif %} {{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/vendor/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/vendor/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/vendor/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/vendor/favicons/manifest.json">
<meta name="theme-color" content="#ffffff">
